body{
    background-image: url('/img/wallpaper1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;   
}

h1{
    color:red;
}

h2{
    color: blue;
}

.container{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    
}

ol.number{
    width: 350px;
    margin: 0 auto;
    background-color: brown;
}